.bower_cache
bower_components
node
node_modules
.tmp
dist
tmp

.sass-cache
connect.lock
coverage
libpeerconnection.log
npm-debug.log
testem.log
typings

target/
.classpath
.project
.settings/
.idea
*.iml
*.ipr
*.iws
npm-debug.log
.vscode
*.launch
*.sublime-workspace
.DS_Store
Thumbs.db

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
